@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --font-size-h1: 1.75rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
    --font-size-h4: 1.125rem;
    --font-size-h5: 1rem; 
    --font-size-p: 1rem;
    --font-size-button: 0.875rem; 
}

@screen md {
    :root {
        --font-size-h1: 2.25rem;
        --font-size-h2: 2rem;
        --font-size-h3: 1.75rem;
        --font-size-h4: 1.5rem; 
        --font-size-h5: 1.3rem; 
        --font-size-p: 1.125rem; 
        --font-size-button: 1rem; 
    }
}


@screen lg  {
    :root {
        --font-size-h1: 3rem; 
        --font-size-h2: 2.5rem;
        --font-size-h3: 2.25rem;
        --font-size-h4: 2rem; 
        --font-size-h5: 1.4rem; 
        --font-size-p: 1.25rem; 
        --font-size-button: 1.125rem; 
    }
}

h1 {
    font-size: var(--font-size-h1);
}
h2 {
    font-size: var(--font-size-h2);
}
h3 {
    font-size: var(--font-size-h3);
}
p {
    font-size: var(--font-size-p);
}
h4 {
    font-size: var(--font-size-h4);
}
h5{
    font-size: var(--font-size-h5);
}
button {
    font-size: var(--font-size-button);
    transition: ease .5s;
}


body {
    font-family: "Rethink Sans", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: rgb(253, 253, 253);
}
.hover-book{
    transition: ease .2s;
}
header {
    position: fixed;
    z-index: 100;
    color: white;
    width: 100vw;
    padding: 2rem 3rem;
}

.main-header {
    transition: background-color 0.5s ease-in-out;
    background-color: transparent;
}

.main-header::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    height: 100%;
    background-color: black;
    transition: top 0.5s ease-in-out;
    z-index: -1;
}

.main-header.scrolled::before {
    top: 0;
}

.register-header-bg {
    background-color: black;
}

.home-banner {
    position: relative;
    width: 100vw;
    top: 0;
    z-index: 10;
    color: white;
    overflow: hidden;
    background-image: url('../../public/img/banner-booknote-archive.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.home-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.library-banner {
    position: relative;
    width: 100vw;
    top: 0;
    z-index: 10;
    color: white;
    overflow: hidden;
    background-image: url('../../public/img/banner-library-booknote-archive.jpg');
    background-position: center;
    background-size: cover;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.library-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.notes-banner {
    position: relative;
    width: 100vw;
    top: 0;
    z-index: 10;
    color: white;
    overflow: hidden;
    background-image: url('../../public/img/banner-notes-booknote-archive.jpg');
    background-position: center;
    background-size: cover;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.notes-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.cta-button {
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
    color: white;
    border: solid 2px #01A262;
}

.cta-button::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: #01A262;
    transition: top 0.3s ease;
    z-index: -1;
}

.cta-button:hover::after {
    top: 0;
}

.cta-button:hover {
    color: white;
}


.video-loop {
    position: relative;
}

.video-loop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: background 0.5s ease;
}

.video-loop:hover::before {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

footer {
    position: relative;
}

.book-edge {
    position: relative;
}

.book-edge::before {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0%;
    background-color: white;
    width: 19px;
    height: 41px;
    transform: rotate(50deg);
    z-index: 1;
}

.book-edge::after {
    content: "";
    position: absolute;
    right: 0%;
    bottom: 0%;
    background-color: white;
    width: 19px;
    height: 41px;
    transform: rotate(-50deg);
    z-index: 1;
}



.notes-container {
    width: 90%;
    margin: 3vh auto 20vh auto;
    min-height: 800px;
    background: #252525;
}

.book-container {
    width: 80%;
    margin: 3vh auto 20vh auto;
    min-height: 400px;
    background: #252525;
}

.trix-content {
    min-height: 220px !important;
}


.shelf {
    background-color: #705B3F;
    height: 20px;
    width: 100%;
    margin-top: -4px;
}

.shelf-depth {
    background-color: #574631;
    height: 10px;
    width: 100%;
    margin-top: -4px;
}

@media only screen and (max-width: 800px) {
    .library-banner, .notes-banner {
       justify-content: end; 
       padding-bottom: 20px;
    }
    .notes-banner{
        height: 25vh;
    }
    header{
        padding: 0px;
    }
    .main-header{
       transition: none;
       padding: 0rem 1rem;
    }
    .active-header-mobile{
        background-color: black;
    }
    .book-container{
        width: 90%;
        padding: 40px 20px 0px 20px;
        min-height: 50vh;
        margin: 40px auto 120px auto;
    }
    .notes-container {
        width: 90%;
        margin: 35px auto;
        min-height: 50vh;
        background: #252525;
    }
}

.trix-button{
background-color: white!important;
}
.auth-container{
    min-height: 80vh;
}